.recipeCardsContainer {
  width: 700px;
  margin: 20px 10px;
}

.card {
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card_imageContainer {
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
  margin-right: 20px;
}

.card_infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  padding: 5px;
}

.card_image {
  max-width: 100%;
}

.card_title {
  font-size: 1.3em;
}

.card_description {
  font-size: 1em;
}

.card_cookingTime {
  color: grey;
}

.card_tags {
  display: flex;
  flex-direction: row;
  color: grey;
}

.card_tags_single {
  padding: 5px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
}
