@media only screen and (min-width: 600px) {
  .filterRecipesContainer {
    max-width: 900px;
    padding: 20px;
  }

  .filterRecipes__form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    max-width: 600px;
    border: 1px var(--lightGrey) solid;
    padding: 7px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .filterRecipes__form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    font-size: 1em;
    border: 1px #eee solid;
    padding: 10px;
  }
}
.filterRecipesContainer {
  padding: 20px;
}

.filterRecipes__title {
  font-weight: 600;
}

.checkbox {
  margin: 5px;
}

.form__label {
  font-size: 0.9em;
  margin-right: 10px;
}
