.pageNav {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.pageNav__button {
  padding: 4px 10px;
  margin: 0 2px;
  border: 2px aquamarine solid;
  border-radius: 4px;
  cursor: pointer;
}

.pageNav__button--current {
  background-color: aquamarine;
  cursor: auto;
}
