.pageNav {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.pageNavButton {
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: 600;
}

.pageNavButton:hover,
.pageNavButton:focus {
  background-color: var(--lightOrange);
  background-image: linear-gradient(
    -180deg,
    var(--lightOrange),
    var(--midOrange) 90%
  );
  background-position: -0.5em;
  border: 1px solid rgba(27, 31, 35, 0.35);
}

.pageNavButton--current {
  background-color: var(--lightOrange);
  background-image: none;
  cursor: auto;
}
